%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_first_files, ["src/thrift_transport.erl"]}.
{lib_dirs, ["deps"]}.
{deps, [
	{thrift,".*",{git,"git://github.com/chaehb/thrift-erlang-binding.git","master"}},
	{poolboy, ".*",{git,"git://github.com/devinus/poolboy.git","master"}}
]}.