%%-*- mode: erlang -*-
%% put this file into ${app_priv}/conf
[
  {erlaccumulo, [
  	{supervisor,[
		%% if 10 restart failed in 60 second, application exit
  		{max_restart, 10},
		{max_time, 60}
  	]},
  	{proxy_servers,[
	  	% {ServerAddress, Port, User, Password}
	  	[{host,"server-0"},{port,42424},{user,"user"},{password,"password"}],
	  	[{host,"server-1"},{port,42424},{user,"user"},{password,"password"}],
	  	[{host,"server-2"},{port,42424},{user,"user"},{password,"password"}]
  	]}
  ]}
].