%%-*- mode: erlang -*-
%% if using rebar, put config file to your project's 'priv' directory
[
  {erlaccumulo, [
  	{pools,[
		{pool_0,%% the first pool will be default pool
			[
		  		{size,10},
				{max_overflow,20}
			],
			[
	  			{host,"localhost"},
				{port,42424},
				{user,"user"},
				{password,"password"}
			]
		}
  ]}
 ]}  
].